@import url("https://fonts.googleapis.com/css2?family=Gasoek+One&family=Lilita+One&family=Moirai+One&family=Montserrat+Alternates:wght@200;600;800;900&family=Open+Sans:wght@300;500;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-main: #111827;
}
html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: white;
}

@layer components {
  .line {
    @apply relative mb-1 w-full overflow-hidden rounded-md shadow-lg;
  }
  .line-span {
    @apply absolute left-0 top-0 z-10 grid h-full w-8 place-items-center bg-[var(--background-main)] text-sm text-[rgb(256,256,256,.6)];
  }
  .line-p {
    @apply relative left-6 h-full overflow-hidden;
  }
}

:is(.hljs code, .output, .btn) {
  background: var(--background-main);
}
